<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>elevate - Admin Portal</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div
      class="
        w-screen
        h-screen
        bg-gray-600
        text-white
        flex
        justify-center
        items-center
        relative
      "
    >
      <h1 class="absolute text-3xl top-5 left-5 opacity-50 italic">
        elevate admin portal
      </h1>
      <%- body %>
    </div>
  </body>
</html>
