<div class="flex flex-col h-full pt-24">
  <a
    href="/"
    class="
      absolute
      top-5
      right-5
      rounded
      bg-white
      text-gray-700
      px-5
      py-2
      text-2xl
      hover:bg-gray-200
      duration-500
      font-bold
    "
  >
    Logout</a
  >

  <a
    href="/emergency"
    class="
      absolute
      top-5
      right-44
      rounded
      bg-white
      text-gray-700
      px-5
      py-2
      text-2xl
      hover:bg-gray-200
      duration-500
      font-bold
    "
  >
    Refresh</a
  >
  <h1 class="text-5xl mb-5">EMERGENCY ALERT DATABASE</h1>
  <table class="table-auto text-2xl">
    <thead>
      <tr>
        <th class="text-left">S. no</th>
        <th class="text-left">Date</th>
        <th class="text-left">Day</th>
        <th class="text-left">Time</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach(function(post,index){ %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= post.date %></td>
        <td><%= post.day %></td>
        <td><%= post.time %></td>
      </tr>

      <% }); %>
    </tbody>
  </table>
</div>
