<form action="/" method="POST">
  <div
    style="width: 25rem"
    class="
      flex flex-col
      bg-white
      p-10
      rounded-lg
      shadow
      space-y-6
      text-gray-700
    "
  >
    <h1 class="font-bold text-xl text-center">Sign in to portal</h1>

    <div class="flex flex-col space-y-1">
      <input
        type="text"
        name="username"
        id="username"
        class="
          border-2
          rounded
          px-3
          py-2
          w-full
          focus:outline-none
          focus:border-blue-400
          focus:shadow
        "
        placeholder="Username"
      />
    </div>

    <div class="flex flex-col space-y-1">
      <input
        type="password"
        name="password"
        id="password"
        class="
          border-2
          rounded
          px-3
          py-2
          w-full
          focus:outline-none
          focus:border-blue-400
          focus:shadow
        "
        placeholder="Password"
      />
    </div>
    <p class="text-red-500"><%= msg %></p>

    <div class="flex flex-col-reverse sm:flex-row sm:justify-end items-center">
      <button
        type="submit"
        class="
          bg-blue-500
          text-white
          font-bold
          px-5
          py-2
          rounded
          focus:outline-none
          shadow
          hover:bg-blue-700
          transition-colors
        "
      >
        Log In
      </button>
    </div>
  </div>
</form>
